{
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "parser": "babel-eslint",
  /* "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },*/
  "rules": {
    "no-new": "off",
    "space-before-function-paren": "off"
  }
}
